/* .App {
  text-align: center;
} */

* {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
form {
  max-width: 500px;
  width: 100%;
}
.input-container {
  display: flex;
  margin-bottom: 20px;
}
.input-container .usd {
  background-color: #f1f1f1;
  line-height: 1.7;
  padding: 8px 12px;
  border-radius: 15px;
  color: #eb3495;
  cursor: default;
}
input {
  width: 370px;
  max-width: 100%;
  border: none;
  border-radius: 20px;
  padding: 12px 18px;
  font-size: 20px;
  background-color: #c1c1c1;
  color: #a31460;
  margin-right: 20px;
}
.input-container > div > input::placeholder {
  color: #a31460;
}
select {
  background-color: #eb3495;
  border: none;
  border-radius: 15px;
  color: #f1f1f1;
  padding: 8px;
  cursor: pointer;
}
:focus-visible {
  outline: none !important;
}

@media screen and (max-width: 768px) {
  input {
    max-width: 320px;
  }
}
